/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-weight: 200;
    color: #fff;
    font-family:"Adobe Garamond Pro";
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    /* Width 394*/
    width: 374px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-top: 2px solid rgba(255,255,255,0.2);
    color: #fff;
    font-family: 'Open Sans';
    letter-spacing: 0.1em;
    cursor: default;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}


/* MENU AND CLOSE BUTTONS */

#menu-toggle {
    z-index: 2;
    position: fixed;
    bottom: 0px;
    background: rgba(0,0,0,0);
    font-family: 'Open Sans';
    /*font-weight: bold;*/
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    border: 0px;
}

#menu-toggle-mid {
    z-index: 2;
    position: fixed;
    bottom: 0px;
    left: 46%;
    background: rgba(0,0,0,0);
    font-family: 'Open Sans';
    /*font-weight: bold;*/
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    border: 0px;
}

#menu-toggle-right {
    z-index: 2;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: rgba(0,0,0,0);
    font-family: 'Open Sans';
    /*font-weight: bold;*/
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    border: 0px;
}

#menu-close {
    background: rgba(0,0,0,0.25);
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    color: white;
}

#menu-header{
    font-family: 'Open Sans';
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #0D445F;
    margin-bottom: 10em;
    letter-spacing: 0em;
}

#sidebar-wrapper.active {
    left: 250px;
    /* Width */
    width: 374px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

.btn-main {
    width:250px;
}

.dropdown-menu {
    width:250px;
}

/* top links */

#nav
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1.5em 0 1.5em 0;
    z-index: 1;
    overflow: hidden;
}
        
#nav > ul > li
{
    display: inline-block;
}


#nav > ul > li > a,
#nav > ul > li > span
{
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    border: 0;
    outline: 0;
}




/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg11.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headertext {
    margin-left:10%;
    width:70%;
}

/*#logo {
    position:absolute;
    width: 190px;
    top:1em;
    left:1em;
    z-index: 2;
}*/

#logo {
    position:absolute;
    width: 8%;
    top:1em;
    left:1em;
    z-index: 2;
}

#jorma {
    position:absolute;
    top:1em;
    right:1em;
    z-index: 2;
    width: 80px;
}


    /* My Modal */

.btn:focus {
    outline: none;
}

.modal-title {
    font-family: 'Open Sans';
}

.modal-body {
    font-family: 'Open Sans';
}

.form-group {
    max-width: 100%;
}

#song-title {
    z-index: 2;
    top: 25%;
    position: relative;
    font-family: 'Open Sans';
    font-size: 30pt;
    font-weight: bold;
    color: #211E5B;
    height: 0px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

p {
    color: black;
    font-size: 15pt;
    font-weight: normal;
}

p.solid {
    border-style: solid;
    background-color: #211E5B;
    border-width: 0;
    width: 45%;
    opacity: 0.8;
    position: relative;
    font-family: 'Open Sans';
    font-size: 30pt;
    text-align: center;
    /*font-weight: bold;*/
    color: white;
}

p.dashed {
    border-style: solid;
    background-color: #0D445F;
    border-width: 0;
    width: 60%;
    opacity: 0.8;
    position: relative;
    font-family: 'Open Sans';
    color: white;
    font-size: 13pt;
    text-align: center;
    font-weight: lighter;
}

@media only screen and (min-width: 1850px) {
    p {
        font-size: 70%;
    }
    #song-title {
        font-size: 450%;
    }
    #menu-toggle {
        font-size: 200%;
    }
    #menu-toggle-mid {
        font-size: 200%;
        left: 50%;
    }
    #menu-toggle-right {
        font-size: 200%;
    }
    /*#logo {
        width: 350px;
    }
    #jorma {
        width: 120px;
    }*/
}

@media only screen and (min-height: 1300px) {
    p {
        font-size: 70%;
    }
    #song-title {
        font-size: 450%;
    }
    #menu-toggle {
        font-size: 200%;
    }
    #menu-toggle-mid {
        font-size: 200%;
        left: 50%;
    }
    #menu-toggle-right {
        font-size: 200%;
    }
    /*#logo {
        width: 350px;
    }
    #jorma {
        width: 120px;
    }*/
}

@media only screen and (max-width: 900px) {
    #menu-toggle-mid {
        left: 46%;
    }
}

@media only screen and (min-width: 1200px) {
    #menu-toggle-mid {
        left: 50%;
    }
}

/* mobile landscape */
@media only screen and (max-height: 300px) {
    #logo {
        width: 5%;
    }
}

/* mobile */
@media only screen and (max-width: 700px) { 
    p {
        font-size: 45%;
    }
    #song-title {
        font-size: 160%;
    }
    #menu-toggle {
        font-size: 70%;
    }
    #menu-toggle-mid {
        font-size: 70%;
        left: 44%;
    }
    #menu-toggle-right {
        font-size: 70%;
    }
    #logo {
        width: 15%;
    }
    /* #jorma {
        width: 35px;
    } */
    iframe {
        height: 80px;
        width: 60%;
    }
}

@media only screen and (max-width: 400px) {
    #menu-toggle-mid {
        left: 40%;
    }
}

#secret {
    z-index: 4;
    color: green;
    position: absolute;
    top: 15%;
    font-size: 1;
    border: 0px;
    padding: 0px;
    margin: 0px;
}


